<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bodas Cliente</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'core/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'core/css/bodaCliente.css' %}">

</head>

<body>

    <div class="main">

        <div class="container">
            <a href="{% url 'cliente' %}"><img width="50px" height="50px" src="{% static 'core/img/volver.png' %}"></a>
            <form method="POST" class="appointment-form" id="appointment-form">
                {% csrf_token %}
                <h2>Solicitudes de Boda</h2>
                <div class="form-group-1">


                    <table class="table table-responsive" style="color:black">
                        <thead>
                            <tr>
                                <th>Novio</th>
                                <th>Novia</th>
                                <th>Numero</th>
                                <th>Email</th>
                                <th>Ubicacion</th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- nombreNovia,nombreNovio,numeroContacto,emailContacto,tipoParroquia -->
                            {% for fila in listado %}
                            <tr>
                                <td>{{fila.nombreNovia}}</td>
                                <td>{{fila.nombreNovio}}</td>
                                <td>{{fila.numeroContacto}}</td>
                                <td>{{fila.emailContacto}}</td>
                                <td>{{fila.tipoParroquia}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>